* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style-type: none;
}
body {
  width: 100vw;
  height: auto;
  background-color: #222323;
}

.box-shadow {
  box-shadow: -3px -3px 4px Rgba(80, 80, 80, 0.65),
    5px 5px 15px Rgba(13, 13, 13, 0.9);
}
.box {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}
footer {
  width: 100%;
  height: auto;
  display: block;
}

#cop {
  width: 100%;
  height: 100px;
  display: flex;
}
#cop a {
  width: 100%;
  font-family: Ubuntu;
  font-size: 20px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
