.component-titles {
  position: absolute;
  width: 60%;
  padding-top: 150px;
}
.title-subtitle {
  width: 68%;
  background-color: #222323;
  border: 2px solid white;
  margin: 0 auto;
  padding: 1rem;
  box-shadow: 10px 10px 1px black;
}
.title-home {
  color: white;
  font-family: Rubik;
  text-align: center;
  font-size: clamp(3rem, 5vw, 5rem);
  animation: krieg 20s infinite alternate linear;
}
.title-home.subtitle-home {
  font-size: clamp(1rem, 3.5vw, 3rem);
  font-weight: 300;
}
.div-button {
  margin: 30px;
  display: flex;
  justify-content: space-evenly;
}
.button-home {
  padding: 10px;
  background-color: crimson;
  color: white;
  font-size: 1.5rem;
  font-family: Rubik;
  box-shadow: 5px 5px 1px black;
  cursor: pointer;
}
.button-home:hover {
  transform: scale(1.05);
}
@media (max-width: 600px) {
  .component-titles {
    width: 100%;
  }
}
