<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/b92ed582cb.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/navBarLeft.css">
    <title>Template Ecomerce</title>
</head>
<body>
    <section class="homeEcomerce">
        <div class="navBarLeft">
            <div class="navBarBox">
                <div class="background-icon"><a class="teste" href="#"><div class="link-icons"><i class="fas fa-baby"></i></div></a></div>
                <div class="background-icon"><div class="link-icons"><i class="fas fa-car-side"></i></div></div>   
            </div>
            <div class="viewHome"></div>
        </div>
    </section>
</body>
</html>